@font-face {
        font-family: 'Oswald';
        src: url('../font/oswald/Oswald-Regular.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
}



a{
	text-decoration:none;
	color: black;
}

html{
	margin: 0px;
	padding: 0px;
	font-family: 'Oswald', sans-serif;
	text-align: center;
}

body{
	background-image: url("../image/background.jpg");
}



#header{
	display:flex;
	width:100%;
	min-width: 80em;
	min-height: 8em;
	background-color: #9e9e9eA0;
	border-radius: 1em;
	align-items: center;
	justify-content: center;
	box-shadow: -1px 4px 10px 0.1px rgba(0,0,0,0.2);

}

#navigation > .navb {
	text-align:center;
	display: inline-flex;
	margin-left: 1em;
	min-width: 3em;
	width: 20em;
	min-height: 4em;
	height: 4em;
	font-size: 1.2em;
	border-radius: 1em;
	transition: padding 1s;
	background-color: rgba(150,170,170,0.6);
	box-shadow: -1px 4px 10px 0.1px rgba(0,0,0,0.2);
	
}

h1{
	text-shadow: 3px 2px #00000070;
}





[title]:hover::before {
  border: solid;
    border-color: #333 transparent;
    border-width: 6px 6px 0 6px;
    bottom: 30em;
    content: "";
    left: 8%;
    position: absolute;
    z-index: 99;
}
[title]:hover::after {
   background: #333;
    background: rgba(0,0,0,.8);
    border-radius: 5px;
    bottom: 30.4em;
    color: #fff;
    content: attr(title);
    left: 6%;
    padding: 5px 15px;
    position: absolute;
    z-index: 98;
    width: 220px;
}

.navb2 {
	justify-content: center;
}



#dop {
	display: flex;
	flex-direction: column;
}

#menu {
	display: none;
}

#dop:hover > #menu{
	
	display: flex;
}

.submenu {
	padding: 0 0.2em;
	background-color: rgba(180,200,200,0.6);
	transition: background-color 1s;
	margin-left: 0.2em;
	font-size: 0.8em;
	width: 8em;
	
}

.submenu:hover{
	background-color: rgba(253,208,251,0.5);
}




#header_cont{
}

.navb:hover{
	padding: 1em;
	letter-spacing: 1px;
}

#body {
	display: flex;
	width: 100%;
	height: 79%;
	margin: 0.3em 0;
	min-height: 30em;
	min-width: 80em;
	justify-content: center;
}

#body_cont1{
	width: 50%;
	min-width: 40em;
	background-color: #9e9e9eA0;
	margin-right: 0.1em;
	border-radius: 1em;
	box-shadow: -1px 4px 10px 0.1px rgba(0,0,0,0.2);

}

#body_cont2{
	width: 50%;
	min-width: 40em;
	background-color: #9e9e9eA0;
	margin-left: 0.1em;
	border-radius: 1em;
	box-shadow: -1px 4px 10px 0.1px rgba(0,0,0,0.2);

}

p {
	margin-left: 2.8em;
	text-align:left;
	width: 90%;
}

#g2{
	width: 80%;
	height: 70%;
	margin-top: 7em;
	transition: height 1s, width 1s, margin 1s;
}

#g2:hover{
	width: 90%;
	height: 90%;
	margin: 2em;
}

#footer{
	height: 5%;
	min-height: 3em;
	background-color: #9e9e9eA0;
	min-width: 80em;
	border-radius: 1em;
	box-shadow: -1px 4px 10px 0.1px rgba(0,0,0,0.2);

}

#anim {
	position: absolute;
	width: 6em;
	height: 6em;
}

#grad {
	background: linear-gradient(to bottom, #ffffff 21%,#3634a3 40%,#274c96 58%,#ff6363 72%,#ff6363 72%,#e82727 100%); 
	width: 4em;
	height: 2em;
	margin-left: 3em;
	transition: transform 2s;
}

#grad:hover{
	transform: translateX(4em);
}

@keyframes diri{
	0% {left: -6em;}
	100% {left: 120em;}
}

#anim {
	animation-name: diri;
	animation-duration: 30s;
	animation-iteration-count: infinite;
}


li {
	padding: 0;
	padding-left: 0.5em;
	list-style: none;
}

li::before {
	content: "\f069";
	padding-right: 0.5em;
	font-family: FontAwesome;
	
}

#footer_cont{
	text-align:right;
    margin-right: 1em;
}
